body {
    background-color: #212529;
    color: #f0f0f0
}
.navbar {
    margin-bottom: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.container {
    max-width: 95%;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.mt-5 {
    margin-top: 0 !important;
}