.table {
    color: white;

}

.form-control {
    background-color: #343a40;
    color: #f0f0f0;
    width: 40%;
}
option {
    background-color: #343a40;
    color: #f0f0f0;
}
select {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

#questionAndReport {
    width: 60%;
}

.filter-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-bar .form-control,
.filter-bar .btn {
    flex: 1;
}

.table-responsive td {
    max-width: 400px;
    overflow: auto;
}

.table-responsive .question-report-cell {
    white-space: pre-wrap; /* Allows line breaks */
}

.reportCheckbox {
    width: 20px;
    height: 20px;
}